<nav *ngIf="userAuth.isUserLoggedIn()" class="mb-1 navbar navbar-expand-lg sticky-top navbar-dark light-blue darken-3">

  <a class="navbar-brand" href="#">Done It</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" [ngClass]="{'nav-item': true, 'active': home}">
        <a class="nav-link" routerLink="/home" (click)="activeHome()">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'nav-item': true, 'active': createTodo}">
        <a (click)="activeTodo()" class="nav-link" routerLink="/create-todo">Crea Todo</a>
      </li> -->
    </ul>

    <ul class="navbar-nav ml-auto mr-auto">
      <form class="form-inline" id="searchbar-form">
        <div id="searchbar" class="md-form my-0">
          <input id="search-input" class="form-control" type="text" placeholder="Cerca" aria-label="Search">
        </div>
      </form>
    </ul>

    <ul class="navbar-nav ml-auto">
      <ul class="navbar-nav mr-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light"><i class="fa fa-bell"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light"> <i class="fa fa-envelope"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto nav-flex-icons">
        <li class="nav-item ">
          <a class="nav-link waves-effect waves-light">{{username}}</a>
        </li>
        <li class="nav-item avatar">
          <a class="nav-link p-0" href="#">
            <img src="https://www.publicdomainpictures.net/pictures/40000/nahled/question-mark.jpg"
              class="md-avatar rounded-circle" alt="avatar image">
          </a>
        </li>
      </ul>
    </ul>
  </div>
</nav>

<div *ngIf="userAuth.isUserLoggedIn() && !userAuth.isFirstLogin()">
  <app-user-info></app-user-info>
</div>