.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.navbar .dropdown-menu a:hover {
    background-color: #01579b !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
.dropdown-item{
    margin-left: 3%;
    width: 95%;
    margin-right: 3%;
    border-radius: 5%;
}

#searchbar{
    width: 100% !important;
}

#search-input{
    width: 400px !important;
}

#searchbar-form{
    margin-right: 0px !important;
}

#sidebar-btn{
    margin-right: 10px;
}

.md-avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 12px;
}