


<div class="container">
    <h1>Login</h1><br>
    <p>Effettua il Login oppure <a routerLink='/register'>registrati</a> </p> <br>
    <form (ngSubmit)="handleLogin()" #loginForm="ngForm">
        <div class="alert alert-warning" *ngIf='errorLogin'>{{errorLogin}}</div>
        <fieldset class="form-group">
            <label>Username: </label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
        </fieldset>

        <fieldset class="form-group">
            <label>Password: </label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
        </fieldset>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>