h1{
    text-align: center;
    padding: 12px;
}

#doneit-image{
    padding-right: 15px;
}

@media screen and (max-width: 1200px) { 
    #doneit-image{
        display: none;
    }
 }



/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */