
.list-group-flush{
  margin-top: 15px;
}

.fa{
    margin-right: 12px;
}

.img-thumbnail{
    margin-top: 10px;
}



#test{
  border-radius: 0;
  background-color: #fafafa;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 40px;
    width: 13vw;
    max-height: 100%;
    overflow: auto;
    z-index: 1;
    padding: 0px;
}

#test::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  #test {
    -ms-overflow-style: none;
  }

  @media screen and (max-width: 768px) {
    .container {
      display: none;
    }
  }



  .list-group-item{
    background-color: #fafafa;
    font-size: smaller;
  }

  #username{
    text-align: center;
    margin-top: 50px;

  }

h4{
  margin-top: 30px;
}

.active{
  color: white !important;
  background-color: #0277bd !important;
}