<div class="container" id="test">
    <div id="content">

        <div>
            <div class="list-group-flush">
                <div class="list-group-item active">
                    <a a routerLink="/home" class="mb-0"><span style="font-size: 1rem;">
                            <span style="color:white">
                                <i class="fa fa-clipboard"></i>
                            </span>
                        </span>
                        Bacheca
                    </a>
                </div>
                <div class="list-group-item">
                    <a routerLink="/show-profile/user" class="mb-0"><span style="font-size: 1rem;">
                            <span style="color:gray">
                                <i class="fa fa-user-circle"></i>
                            </span>
                        </span>
                        Il mio profilo
                    </a>
                </div>
                <div class="list-group-item">
                    <a class="mb-0"><span style="font-size: 1rem;">
                            <span style="color:gray">
                                <i class="fa fa-id-badge"></i>
                            </span>
                        </span>
                        I miei Todo
                    </a>
                </div>

                <div class="list-group-item">
                    <a class="mb-0"><span style="font-size: 1rem;">
                            <span style="color:gray">
                                <i class="fa fa-comment"></i>
                            </span>
                        </span>
                        Chat </a>
                </div>

                <div class="list-group-item">
                    <a routerLink="/logout" class="mb-0"><span style="font-size: 1rem;">
                            <span style="color:gray">
                                <i class="fa fa-sign-out"></i>
                            </span>
                        </span>
                        Logout </a>
                </div>

            </div>
        </div>
    </div>
</div>