<app-navbar></app-navbar>

<h1 *ngIf="!todoId">Crea Todo</h1>


<div *ngIf="!todoId" class="container">
    <form (ngSubmit) = 'handleTodoCreation()'>
        <fieldset class="form-group">
            <label>Titolo: </label>
            <input type="text" class="form-control" name="title" [(ngModel)] = 'todo.title'>
        </fieldset>

        <fieldset class="form-group">
            <label>Descrizione: </label>
            <input type="text" class="form-control" name="description" [(ngModel)] = 'todo.description'>
        </fieldset>
        <button *ngIf="!todoId" type="submit" class="btn btn-success">Conferma</button>
       
    </form>
</div>


<h1 *ngIf="todoId">Aggiorna Todo</h1>

<div class="container">
    <form *ngIf="todoId" (ngSubmit) = 'handleTodoUpdate()'>
        <fieldset class="form-group">
            <label>Titolo: </label>
            <input type="text" class="form-control" name="title" [(ngModel)] = 'todo.title'>
        </fieldset>

        <fieldset class="form-group">
            <label>Descrizione: </label>
            <input type="text" class="form-control" name="description" [(ngModel)] = 'todo.description'>
        </fieldset>
        <button *ngIf="todoId" type="submit" class="btn btn-success">Aggiorna</button>
    </form>
</div>