
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-1">
            <app-user-info></app-user-info>
        </div>
        <div class="col-lg-6">
            <app-generic-board></app-generic-board>
        </div>

        <div class="col-lg-4">
            <app-story-viewer></app-story-viewer>
        </div>
    </div>
</div>




<button id="floating-btn" type="button" class="btn btn-primary btn-circle btn-xl">
    <i class="fa fa-comment"></i>
</button>