.container{
    width: 15vw;
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: 100%;
    top: 100px;
    max-height: 100%;
    overflow: auto;
    z-index: 1;
    margin: 0 !important;
    padding: 0px;
}

.btn{
    color: black!important;
    text-transform: none;
    margin: 0 !important;
    position: fixed;
    right: 0;
    width: 14.9vw;
    top:50px;
    z-index: 2;
    height: 50px;

}



.md-avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .container {
    -ms-overflow-style: none;
  }

.card{
    margin: 0px !important;
    padding: 12px;
}
#col{
    padding: 0 !important;
}