
.container{
    margin-top: 50px;
}

.md-avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .container {
    -ms-overflow-style: none;
  }

.card{
    margin: 0px !important;
    padding: 12px;
}
#col{
    padding: 0 !important;
}