<button class="btn grey lighten-4">Chat - Online (30)</button>

<div class="container">
    <div class="card scroll grey lighten-3" *ngIf="showChat">
        <ul class="list-group list-group-flush">

            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>
            <li class="list-group-item grey lighten-5 ">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                    class="md-avatar rounded-circle"> <span>Pippo Franco</span>
            </li>




        </ul>
    </div>
</div>